@charset "UTF-8";

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body,
html {
  background-color: #dcdcdc;
  font-family: 'Roboto', 'Roboto-Bold';
  -webkit-text-stroke: 0.005em;
}

#inputs {
  width: auto;
  text-align: center;
  margin-top: 1%;
}

.divBase {
  margin-top: 0.25em;
}

.inputsText {
  display: inline-block;
  padding-right: 1%;
  font-family: 'Roboto-Bold';
}

.inputsInput {
  display: inline-block;
  text-align: center;
  font-family: 'Roboto-Bold';
}

.inputsbutton {
  margin-top: 1%;
  background: #ffa600;
  border-radius: 10%;
  font-family: 'Roboto-Bold';
}

#result {
  width: auto;
  text-align: center;
  margin-top: 1%;
}

.result_value {
  box-sizing: border-box;
  border: 0.1em solid #000000;
  border-radius: 5%;
  padding: 0.5em;
  background: #FFFFFF;
  font-family: 'Roboto-Bold';
  min-width: 3.5em;
}

.result_holder {
  display: inline-block;
  text-align: center;
  margin: 0.25em;
  font-size: 78%;
}

.result_graf_holder {
  height: 50vh;
  position: relative;
}

.result_graf {
  height: 0;
  background-color: #ff0000;
  will-change: height;
  transition: height 750ms linear;
  position: absolute;
  bottom: 0.2%;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.result_title {
  text-align: center;
  font-size: 150%;
  font-family: 'Roboto-Bold';
}

.result_note {
  margin-top: 1%;
  text-align: center;
  font-size: 100%;
  font-family: 'Roboto-Bold';
}