@charset "UTF-8";

@font-face {
  font-family: "pvicons";
  src: url("fonts/pvicons.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pvicons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "pvicons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

.icon-ellipsis-v:before {
  content: "\61";
  transform: translateY(18%) !important;
}

.icon-check:before {
  content: "\62";
  transform: translateY(10%) !important;
}

.icon-plus-circle:before {
  content: "\63";
  transform: translateY(40%) !important;
}

.icon-minus-circle:before {
  content: "\64";
  transform: translateY(40%) !important;
}

.icon-arrow-left:before {
  content: "\65";
  transform: translateY(10%) !important;
}

.icon-help-circled:before {
  content: "\66";
  transform: translate(-13%, 13%) scale(1.25) !important;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --buttonColor: #2ea44f;
  --buttonColorHover: #299848;
  --buttonColorActive: #357737;
  --buttonColorActiveShaddow: #666666;
  --backgroundDark: #24292e;
  --background: #ebedef;
  --linkcolor: #0366d6;
  --settingHover: #a0a0a0;
  --inputsBorder: #999999;
  --inputsShadow: rgba(0, 0, 0, 0.6);
}

body,
html {
  background-color: var(--background);
  font-family: 'Roboto', 'Roboto-Bold';
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll !important;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#page_about,
#page_title {
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 200%;
  color: white;
  background: var(--backgroundDark);
  z-index: 1;
  font-family: 'Roboto-Bold';
}

#settings {
  position: absolute;
  top: 0;
  right: 2px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 80%;
  cursor: pointer;
}

#settings:hover {
  color: var(--settingHover);
}

#page_about {
  bottom: 0;

}

.Result_Button {
  margin-top: 0.5% !important;
  margin-bottom: 1%;
}

.icon,
#title,
#page_about {
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: black;
}

#content {
  margin-top: 4em;
  margin-bottom: 4em;
}

#about_text {
  border: 0 !important;
}

#inputs {
  width: auto;
  text-align: center;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputsContainer {
  width: fit-content;
  background: white;
  border: 1px solid var(--inputsBorder);
  border-top: 0;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 1px;
  width: 34em;
  max-width: 90vw;
}

.Imput_Help_Container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
}

.tooltiptextop,
.tooltiptext,
.result_graf,
.inputsContainer,
.result_value {
  box-shadow: 2px 2px 3px rgb(0 0 0 / 40%);
}

.inputsContainerTop {
  border-top: 1px solid var(--inputsBorder) !important;
  border-radius: 6px 6px 0 0 !important;
}

.inputsContainerBottom {
  border-radius: 0 0 6px 6px !important;
}


.inputsTitle,
.inputsText {
  display: inline-block;
  font-family: 'Roboto-Bold';
  min-width: 45%;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  width: 100%;
  padding-left: 0.5em;
  font-size: 90%;
}

.inputsTitle {
  text-align: center;
}

.CursorDisable {
  cursor: not-allowed;
}

.inputsSelect,
.inputsInput {
  display: inline-block;
  text-align: center !important;
  font-family: 'Roboto-Bold';
  width: 12em;
  background-color: var(--background);
  border: 1px solid black;
  border-radius: 3px;
  outline: none;
  padding: 0 !important;
  box-sizing: border-box;
  font-size: 100%;
  max-width: 39vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inputsSelect {
  text-align-last: center;
}

.inputsSelect:focus,
.inputsInput:focus {
  background-color: white;
  box-shadow: 0 0 0 1.5px var(--buttonColor);
}

.inputsbutton {
  box-sizing: border-box;
  margin-top: 1%;
  background: var(--buttonColor);
  color: white;
  padding: 5px;
  font-family: 'Roboto-Bold';
  text-align: center;
  cursor: pointer;
  outline: none;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 0 4px var(--inputsBorder);
  font-size: 125%;

}

.optionButton,
.options_item_focus,
.dropdown-content,
.inputsbutton {
  filter: drop-shadow(2px 2px 2px var(--inputsShadow));
}

.inputsbutton:hover {
  background-color: var(--buttonColorHover);
}

.inputsbutton:active {
  background-color: var(--buttonColorActive);
  box-shadow: 0 2px var(--buttonColorActiveShaddow);
  transform: translateY(2px);
}

#result {
  width: auto;
  text-align: center;
  margin-top: 1%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.result_value {
  box-sizing: border-box;
  font-family: 'Roboto-Bold';
  min-width: 3.5em;
  background: white;
  border: 1px solid var(--inputsBorder);
  padding: 5px;
  border-radius: 6px;
  position: relative;
}

.result_holder {
  display: inline-block;
  text-align: center;
  margin: 2px;
  font-size: 78%;
}

.result_graf_holder {
  height: 40vh;
  position: relative;
  overflow: hidden;
}

.result_graf {
  height: 0;
  background-color: var(--buttonColor);
  position: absolute;
  bottom: 0;
  width: 50%;
  left: 50%;
  border-radius: 3px 3px 0 0;
  transform: translate(-50%, 102%);
  will-change: transform;
  transition: transform 750ms linear;
}

.result_title {
  margin-top: 0.5%;
  text-align: center;
  font-size: 150%;
  font-family: 'Roboto-Bold';
}

.result_note {
  margin-top: 1%;
  text-align: center;
  font-size: 100%;
  font-family: 'Roboto-Bold';
}

.opacityZero {
  opacity: 0;
}

.tooltip_botton,
.tooltip {
  position: relative;
  display: inline-block;
  margin-left: 0.9em;
  margin-right: 0.4em;
  max-width: 90%;
}

.tooltip_botton,
.tooltip_disabled {
  margin: 0 !important;
}

.tooltiptext_disabled {
  transform: translateX(-50%) !important;
}

.tooltip_disabled .tooltiptext_disabled::after {
  left: 46% !important;
}

.tooltip_botton {
  margin: 0;
}

.tooltip_botton .tooltiptext,
.tooltip_botton .tooltiptextop,
.tooltip .tooltiptext {
  visibility: hidden;
  width: 12em;
  background-color: var(--backgroundDark);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 0.5em;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid var(--backgroundDark);
}

.tooltip .tooltiptext {
  transform: translateX(-94%);
}

.tooltip_botton .tooltiptextop::after,
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -0.35em;
  border-width: 0.35em;
  border-style: solid;
}

.tooltip_botton:hover .tooltiptextop,
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext {
  top: 105%;
}

.tooltiptextop {
  bottom: 115%;
}

.tooltip_botton .tooltiptextop::after {
  top: 100%;
  border-color: var(--backgroundDark) transparent transparent transparent;
}

.tooltip .tooltiptext::after {
  bottom: 100%;
  left: 93.25%;
  border-color: transparent transparent var(--backgroundDark) transparent;
}

#span_about {
  font-size: 70%;
  width: auto;
}

a:link,
a:hover,
a:visited,
a:active {
  color: var(--linkcolor);
  text-decoration: none;
  font-family: 'Roboto';
}

.hide {
  display: none !important;
}

.show {
  opacity: 1 !important;
  transform: translateY(0) !important;
  pointer-events: all !important;
}

.dropdown-content {
  width: auto;
  line-height: 1.1em;
  opacity: 0;
  position: absolute;
  background-color: var(--background);
  color: black;
  z-index: 1;
  font-size: 60%;
  border: 1px solid var(--inputsBorder);
  border-radius: 5px;
  padding: 10px;
  padding-top: 5px;
  top: 102%;
  right: 0.5%;
  pointer-events: none;
  transform: translateY(-5%);
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.options_tilte {
  text-align: start;
  font-size: 90%;
  border-bottom: 2px solid;
}

.options_item {
  text-align: center;
  font-size: 70%;
  margin-top: 10%;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}

.options_item:hover {
  background: white;
  border: 1px solid black;
}

.options_item_focus {
  background: var(--backgroundDark) !important;
  color: white;
  border: 1px solid black;
}

#zoom_value {
  padding: 0.35em;
  margin-left: 1em;
  margin-right: 1em;
}

#zoom_value_container {
  display: inline-block;
}

#zoom_values_holder {
  margin-top: 10px;
}

#zoom_reset {
  margin-top: 10px;
  margin-bottom: 10px;
}

#zoom_reset_text {
  transform: scale(1.275);
  padding-left: 0.35em;
  padding-right: 0.35em;
}

.zoom_icon {
  font-size: 170%;
  line-height: 0.5em;
}

.optionButtonDisabled,
.optionButton {
  font-size: 60%;
  min-width: 4ch;
  box-sizing: border-box;
  background: var(--buttonColor);
  color: white;
  padding: 5px;
  font-family: 'Roboto-Bold';
  text-align: center;
  cursor: pointer;
  outline: none;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 0 4px var(--inputsBorder);
}

.optionButtonDisabled {
  background: var(--buttonColorActiveShaddow);
  cursor: not-allowed;
}

.optionButton:hover {
  background-color: var(--buttonColorHover);
}

.optionButton:active {
  background-color: var(--buttonColorActive);
  box-shadow: 0 2px var(--buttonColorActiveShaddow);
  transform: translateY(2px);
}

.text_shadown {
  text-shadow: 1px 1px 0 black,
    1px 0 0 black,
    -1px 0 0 black,
    0 -1px 0 black,
    0 1px 0 black;
}

@media screen and (max-width: 700px) {
  .inputsContainer {
    flex-direction: column;
    width: 19em;
  }

  .inputsText {
    text-align: center;
    min-width: 100%;
    padding-left: 0;
  }

  .inputsSelect,
  .inputsInput {
    max-width: 71vw;
  }

  .Results_container {
    transform: rotate(90deg) translate(50%);
    transform-origin: center;
    margin-top: -35%;
    padding-right: 10%;
  }

  .Results_inner_container {
    transform-style: preserve-3d;
    display: flex;
    align-items: flex-end;
  }

  .result_value {
    transform-style: preserve-3d;
    transform: rotate(-90deg) scale(1);
    white-space: nowrap;
    min-width: 10ch;
  }

  .result_holder {
    margin-left: -3.5ch;
  }

  .result_graf {
    width: 40%;
  }

  .dropdown-content {
    top: 106%;
    right: 2.5%;
  }

}

.resultText {
  width: 12em;
  display: inline-block;
  text-align: center !important;
  font-family: 'Roboto-Bold';
}