@charset "UTF-8";

@font-face {
  font-family: "pvicons";
  src: url("fonts/pvicons.eot");
  src: url("fonts/pvicons.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pvicons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "pvicons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

.icon-ellipsis-v:before {
  content: "\61";
  transform: translateY(18%) !important;
}

.icon-check:before {
  content: "\62";
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body,
html {
  background-color: #ebedef;
  font-family: 'Roboto', 'Roboto-Bold';
  margin: 0;
  -webkit-text-stroke: 0.005em;
  overflow-x: hidden;
  overflow-y: scroll !important;
  position: absolute;
  width: 100vw;
}

#page_about,
#page_title {
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 200%;
  color: #FFF;
  background: #24292e;
  z-index: 1;
  font-family: 'Roboto-Bold';
}

#lang {
  position: absolute;
  top: 0;
  right: 2px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 80%;
}

#lang:hover {
  color: #a0a0a0;
}

#page_about {
  bottom: 0;

}

.Result_Button {
  margin-top: 0.5% !important;
  margin-bottom: 1%;
}

.icon,
#title,
#page_about {
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: #000;
}

#content {
  margin-top: 4em;
  margin-bottom: 4em;
}

#about_text {
  border: 0 !important;
}

#inputs {
  width: auto;
  text-align: center;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputsContainer {
  width: fit-content;
  display: inline-block;
  background: #ffffff;
  border: 1px solid #999999;
  border-top: 0;
  padding: 5px;
  max-width: 94vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 1px;
}

.Imput_Help_Container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
}

.tooltiptextop,
.tooltiptext,
.result_graf,
.inputsContainer,
.result_value {
  box-shadow: 2px 2px 3px rgb(0 0 0 / 40%);
}

.inputsContainerTop {
  border-top: 1px solid #999999 !important;
  border-radius: 6px 6px 0 0 !important;
}

.inputsContainerBottom {
  border-radius: 0 0 6px 6px !important;
}


.inputsText {
  display: inline-block;
  font-family: 'Roboto-Bold';
  min-width: 38ch;
  text-align: start;
}

.inputsSelect,
.inputsInput {
  display: inline-block;
  text-align: center !important;
  font-family: 'Roboto-Bold';
  width: 24ch;
  background-color: #ebedef;
  border: 1px solid #000000;
  border-radius: 3px;
  outline: none;
  padding: 0 !important;
  box-sizing: border-box;
}

.inputsSelect {
  text-align-last: center;
}

.inputsSelect:focus,
.inputsInput:focus {
  background-color: #FFFFFF;
  box-shadow: 0 0 0 1.5px #2ea44f;
}

.inputsbutton {
  box-sizing: border-box;
  margin-top: 1%;
  background: #2ea44f;
  color: #FFF;
  padding: 5px;
  font-family: 'Roboto-Bold';
  text-align: center;
  cursor: pointer;
  outline: none;
  border: 1px solid #000000;
  border-radius: 6px;
  box-shadow: 0 4px #999;
  font-size: 125%;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));
}

.inputsbutton:hover {
  background-color: #299848;
}

.inputsbutton:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

#result {
  width: auto;
  text-align: center;
  margin-top: 1%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.result_value {
  box-sizing: border-box;
  font-family: 'Roboto-Bold';
  min-width: 3.5em;
  background: #ffffff;
  border: 1px solid #999999;
  padding: 5px;
  border-radius: 6px;
  position: relative;
}

.result_holder {
  display: inline-block;
  text-align: center;
  margin: 2px;
  font-size: 78%;
}

.result_graf_holder {
  height: 40vh;
  position: relative;
  overflow: hidden;
}

.result_graf {
  height: 0;
  background-color: #2ea44f;
  position: absolute;
  bottom: 0;
  width: 50%;
  left: 50%;
  border-radius: 3px 3px 0 0;
  transform: translate(-50%, 102%);
  will-change: transform;
  transition: transform 750ms linear;
}

.result_title {
  margin-top: 0.5%;
  text-align: center;
  font-size: 150%;
  font-family: 'Roboto-Bold';
}

.result_note {
  margin-top: 1%;
  text-align: center;
  font-size: 100%;
  font-family: 'Roboto-Bold';
}

.opacityZero {
  opacity: 0;
}

.tooltip_botton,
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 0.15em dotted #24292e;
  margin-left: 1ch;
}

.tooltip_botton,
.tooltip_disabled {
  border-bottom: 0 !important;
  margin: 0 !important;
}

.tooltiptext_disabled {
  transform: translateX(-50%) !important;
}

.tooltip_disabled .tooltiptext_disabled::after {
  left: 46% !important;
}

.tooltip_botton {
  margin: 0;
}

.tooltip_botton .tooltiptext,
.tooltip_botton .tooltiptextop,
.tooltip .tooltiptext {
  visibility: hidden;
  width: 12em;
  background-color: #24292e;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.5em;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip .tooltiptext {
  transform: translateX(-65%);
}

.tooltip_botton .tooltiptextop::after,
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -0.35em;
  border-width: 0.35em;
  border-style: solid;
}

.tooltip_botton:hover .tooltiptextop,
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext {
  top: 150%;
}

.tooltiptextop {
  bottom: 120%;
}

.tooltip_botton .tooltiptextop::after {
  top: 100%;
  border-color: #24292e transparent transparent transparent;
}

.tooltip .tooltiptext::after {
  bottom: 100%;
  left: 65%;
  border-color: transparent transparent #24292e transparent;
}

#span_about {
  font-size: 70%;
  width: auto;
}

a:link,
a:hover,
a:visited,
a:active {
  color: #0366d6;
  text-decoration: none;
}

.hide {
  display: none !important;
}


@media screen and (max-width: 700px) {
  .inputsContainer {
    flex-direction: column;
  }

  .inputsText {
    text-align: center;
  }

  .Results_container {
    transform: rotate(90deg) translate(50%);
    transform-origin: center;
    margin-top: -35%;
    padding-right: 10%;
  }

  .Results_inner_container {
    transform-style: preserve-3d;
    display: flex;
    align-items: flex-end;
  }

  .result_value {
    transform-style: preserve-3d;
    transform: rotate(-90deg) scale(1);
    white-space: nowrap;
    min-width: 10ch;
  }

  .result_holder {
    margin-left: -3.5ch;
  }

  .result_graf {
    width: 40%;
  }

}

.show {
  display: block !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ebedef;
  color: #000;
  z-index: 1;
  font-size: 75%;
  transform: translate(-2%, 50%);
  border: 1px solid #999999;
  border-radius: 5px;
  padding: 10px;
  padding-top: 5px;
  top: 0;
  right: 0;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));
}

#lang_text {
  text-align: start;
  font-size: 90%
}

#lang_pt,
#lang_en {
  text-align: center;
  font-size: 70%;
  margin-top: 10%;
}

.lang_focus {
  background: #24292e;
  border-radius: 5px;
  color: #FFFFFF;
}